/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  ******** custom styling *******
  ========================================
*/

* {
    text-decoration: none;
}

body {
    color: #0000FF;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Primary header
  ========================================
*/

header {
    background-color: #FFF;
    width: 100%;
    height: 100px;
}

header .logo {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 20px 0;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-size: 16px;
    text-transform: uppercase;
}

header .header-request {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .logo {
        padding: 0px 20px 0px 40px;
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        border-right: 3px solid #0000FF;
        float: left;
    }
    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    header nav ul li a {
        line-height: 60px;
    }
    header .header-login {
         display: block;
         font-size: 16px;
         color: #0000FF;
         text-transform:  uppercase;
         line-height: 38px;
         border: 1px solid #0000FF;
         float: right;
         margin-right: 40px;
         margin-top: 30px;
         padding: 0 20px;
     }
    header .header-request {
        display: block;
        font-size: 16px;
        color: #0000FF;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #0000FF;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
    color: #0000FF;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../images/home3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 44px;
    text-align: center;
    display: table;
}

.vertical-banner {
    display: table-cell;
    vertical-align: middle;
}

.hero h2 {
    color: #0000FF;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    text-shadow: 2px 2px 8px #0000FF;
}

.hero p {
    color: whitesmoke;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    text-shadow: 2px 2px 8px #0000FF;
}

.teaser a:hover h3 {
    color: #a9b2b9;
}

.index-links div {
    margin: 16px 16px 0;
    padding-top: 15px;
    width: calc(100% - 32px);
    height: 150px;
    background-color: #f2f2f2;
    text-align: center;
}

.index-links p {
    margin: 10px;
    color: #180633;
    text-align: center;
    font-weight: 300;
    line-height: 24px;
}

.index-links div h2 {
    font-weight: 500;
    font-size: 24px;
}


@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    .hero {
        color: #fff;
        width: 100%;
        height: 500px;
    }
    .hero h2 {
        display: block;
        width: 560px;
        margin: 0 auto;
    }
    .index-links div {
        margin: 20px 16px 0;
        height: 230px;
        background-color: #f2f2f2;
        float: left;
    }
    .index-links {
        overflow: hidden;
    }
    .index-boxlink {
        width: calc(32% - 20px) !important;
    }
}

/*
    ========================================
    Footer
    ========================================
  */

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}

@media only screen and (min-width: 1000px) {
    .footer {
        color: #648880;
        font-size: 14px;
        padding-bottom: 44px;
        padding-top: 44px;
        
      }
      .footer small {
        float: left;
        font-weight: 400;
      }
      footer ul {
        width: fit-content;
        float: right;
        
    }
    footer ul li {
        display: inline-block;
        margin: 10px;
      

    }

      /* footer {
        width: calc(100% - 20px);
        padding: 40px 40px;
        margin-top: 20px;
        background-color: #111;
        overflow: hidden;
    }
    
   
    
   
    
    footer ul li a {
        font-size: 16px;
        color: #fff;
        line-height: 30px;
    }
    
 */

}

/*
    ========================================
 user forms
    ========================================
*/

.background,
.backdrop {
    background-color: #3f689c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.backdrop {
    filter: alpha(opacity=90);
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.background {
	filter: blur(15px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=5);
}

.login-form-container {
    max-width: 400px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -286px;
    padding: 150px 20px 100px 20px;
}

.login-form-content {
    margin: 18px;

}



.login-form-header {
    text-align: center;
}

.login-form .input-container {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    font-size: 20px;
    color: #9e9e9e;
    padding-bottom: 5px;
}

.login-form .input {
    border: 0;
    width: 200px;
}

.login-form .input:focus {
    outline: none;
}

.login-form .forgot-password {
    float: right;
}

.login-form .rememberme-container {
    margin-top: 15px;
    padding: 0;
}

.login-form .rememberme-container input {
    margin-left: 0;
}

.login-form .rememberme span {
    vertical-align: top;
}

.login-form .button {
    margin-top: 15px;
    width: 100%;
    background: #2e7ec7;
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.login-form .button:hover {
    background: #1f6eb7;
}

.login-form .button:focus {
    outline: none;
}

.login-form .register {
    margin-top: 5px;
    background: #CCCCCC;
    border: 0;
    color: #676464;
    padding: 8px;
    font-size: 15px;
    display: block;
    text-align: center;
}

.login-form .register:hover {
    background: #b7b7b7;
}

@media screen and (max-height: 600px) {
    .login-form-container {
        margin-top: 0;
        top: 10px;
    }
    .login-form-container {
        left: 5px;
        margin-left: 5px;
        min-width: 283px;
        right: 10px;
        margin-bottom: 10px;
        width: auto;
    }
    .login-form .input {
        width: 140px;
    }
    .socmed-login .socmed-btn i {
        margin-right: 5px;
        width: 19px;
    }
}

/*
    ========================================
 Request forms
    ========================================
*/

.background,
.backdrop {
    background-color: #3f689c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.backdrop {
    filter: alpha(opacity=90);
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.background {
    filter: blur(15px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5);
}

.request-form-container {
    max-width: 400px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -286px;
    padding: 150px 20px 100px 20px;
}
.request-form-content {
    margin: 18px;

}


.request-form-header {
    margin-bottom: 28px;
    text-align: center;
    padding-bottom: 15px;
}

.request-form .input-container {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    font-size: 20px;
    color: #9e9e9e;
    padding-bottom: 5px;
}

.request-form .input {
    border: 0;
    width: 200px;
}

.request-form .input:focus {
    outline: none;
}

.request-form .button {
    margin-top: 15px;
    width: 100%;
    background: #2e7ec7;
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.request-form .button:hover {
    background: #1f6eb7;
}

.request-form .button:focus {
    outline: none;
}

.request-form .register {
    margin-top: 5px;
    background: #CCCCCC;
    border: 0;
    color: #676464;
    padding: 8px;
    font-size: 15px;
    display: block;
    text-align: center;
}

.request-form .register:hover {
    background: #b7b7b7;
}

@media screen and (max-height: 600px) {
    .request-form-container {
        margin-top: 0;
        top: 10px;
    }
    .request-form-container {
        left: 5px;
        margin-left: 5px;
        min-width: 283px;
        right: 10px;
        margin-bottom: 10px;
        width: auto;
    }
    .request-form .input {
        width: 140px;
    }
}

/*
    ========================================
             Users Details view
    ========================================
*/

.details-card div {
    margin: 16px 16px 16px;
    padding-top: 15px;
    width: calc(100% - 32px);
    height: 250px;
    background-color: #f2f2f2;
    
    
}

.details-card p  {
    margin: 10px;
    color: #180633;
    font-weight: 500;
    line-height: 16px;
    font-size: 18px;
    
}

.details-card div a {
    font-weight: 500;
    font-size: 24px;
}
.detail-title {
    margin: 30px 0px 0px 50px;
    font-size: 30px;
    font-weight: 400;
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    .details-card div {
        margin: 20px 16px 20px;
        height: 230px;
        background-color: #f2f2f2;
        float: left;
    }
    .details-card {
        overflow: hidden;
    }
    .details-boxlink {
        width: calc(32% - 20px) !important;
       
    }

    .admin-details-card div {
        margin: 20px 16px 20px;
        height: 330px;
        background-color: #f2f2f2;
        float: left;
    }
}

/*
    ========================================
             Admin Details view
    ========================================
*/

.info {
    color: blue;
}


.admin-details-card div {
    margin: 16px 16px 16px;
    padding-top: 15px;
    width: calc(100% - 32px);
    height: 280px;
    background-color: #f2f2f2;
    
    
}

.admin-details-card p  {
    margin: 10px;
    color: #000;
    font-weight: 400;
    line-height: 16px;
    font-size: 15px;
    
}

.admin-details-card h6  {
    margin: 10px;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    
}

.admin-details-card h4  {
    margin: 10px;
    color:  #00B4CC;
    font-weight: 600;
    line-height: 16px;
    font-size: 20px;
    
}
.admin-details-card small  {
    font-weight: 400;
    color: #00B4CC;
    line-height: 16px;
    font-size: 20px;  
}
.admin-detail-title {
    margin: 30px 0px 0px 50px;
    font-size: 24px;
    font-weight: 380;
}

.search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid  #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: right;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -550%);
  }

  @media only screen and (min-width: 600px) {
    .wrap{
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0%, -580%);
      }
    
}

 